<div class="container pt-5">
    <div class="row">
            <div class="col-6 mt-5">
                <div class="text_blue">
                    <p class="text-uppercase text-left">
                      Somos <span>líderes</span> en <br> 
                      <span>consultaría</span> para <br> 
                      <span>startups y <br>
                        emprendedores</span>
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="col-12">
                    <div class="content_img pt-2 pb-4">
                        <img src="../assets/images/home/somos.png" alt="somos">
                    </div>
                </div>
                <div class="col-12 py-2">
                    <div class="text_red">
                        <p class="text-uppercase text-center">
                          <span>Llega a un mayor</span><br> 
                          número de <span>clientes</span>
                        </p>
                    </div>
                </div>
            </div>
        <div class="col-12 text-center">
            <div class="arrowDown">
                <a href="" class="ancla" data-ancla="diagnostic">
                  <img src="../assets/images/home/arrow_purple.png" width="4%" alt="flecha">
                </a>
            </div>
        </div>
    </div>
</div>