<div class="container pt-3">
    <div class="row">
            <div class="col-6 mt-5">
                <div class="text_blue">
                    <p class="text-uppercase text-left">
                      Somos <span>líderes</span> en <br> 
                      <span>consultaría</span> para <br> 
                      <span>startups y <br>
                        emprendedores</span>
                    </p>
                </div>
            </div>
            <div class="col-6 mt-2">
                <div class="col-12">
                    <div class="content_img">
                        <img src="../assets/images/somos-home.PNG" alt="somos">
                    </div>
                </div>
                <div class="col-12 pt-2">
                    <div class="text_red">
                        <p class="text-uppercase text-left">
                          <span>Llega a un mayor</span>, <br> 
                          número de <span>clientes</span>
                        </p>
                    </div>
                </div>
            </div>
        <div class="col-12">
            <div class="arrowDown text-center">
                <a href="" class="ancla" data-ancla="diagnostic">
                  <fa-icon [icon]="ChevronDown"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>