<div class="container pt-5 pb-3">
    <div class="row">
        <div class="col-6">
            <div class="content_left">
                <div class="col">
                    <div class="row">
                        <div class="content_imgtext">
                            <div class="col-6">
                                <div class="content_img">
                                    <img src="../assets/images/home/design1.png" alt="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="content_text text-uppercase">
                                    <h6>Diseño Web</h6>
                                    <p>Disfruta de todos los beneficios de administrar y manejar tu negocio en un solo lugar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="content_imgtext">
                            <div class="col-6">
                                <div class="content_img">
                                    <img src="../assets/images/home/design2.png" alt="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="content_text text-uppercase">
                                    <h6>Diseño de Software</h6>
                                    <p>Si quieres una página web, tenemos distintos planes o nos adaptamos a tus necesidades</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="content_imgtext">
                            <div class="col-6">
                                <div class="content_img">
                                    <img src="../assets/images/home/design3.png" alt="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="content_text text-uppercase">
                                    <h6>Diseño de Apps</h6>
                                    <p>Aumenta la productividad de tu empresa con un sistema que reune todas las herramientas que necesitas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col">
                <div class="title_red">
                    <h4 class="text-uppercase text-right tex-red">
                        Somos amigos de la innovación y siempre estamos buscando nuevas ideas
                    </h4>
                </div>
            </div>
            <div class="col">
                <div class="content_right pr-5">
                    <img src="../assets/images/home/design4.png" alt="design4">
                    <div class="content-btn pt-2">
                        <a class="btn btn-primary text-uppercase" href="#" role="button">Trabajemos juntos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <div class="arrowDown">
                <a href="" class="ancla" data-ancla="tooring">
                  <img src="../assets/images/home/arrow_purple.png" width="4%" alt="flecha">
                </a>
            </div>
        </div>
    </div>
</div>
