<div class="container">
    <div class="row">
        <div class="col-6 pt-4">
           <div class="content-left">
                <div class="content_title text-center">
                    <h1>Contáctanos</h1>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="content_social">
                            <a href="https://www.facebook.com/TooringMX/" target="_blank">
                                <img src="../assets/images/home/footer4.png" alt="">
                            </a>
                            <div class="name text-center my-3">
                                <a href="https://www.facebook.com/TooringMX/" target="_blank">
                                    <p>tooringmx</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content_social">
                            <a href="https://twitter.com/Tooring_20" target="_blank">
                                <img src="../assets/images/home/footer1.png" alt="">
                            </a>
                            <div class="name text-center my-3">
                                <a href="https://twitter.com/Tooring_20" target="_blank">
                                    <p>@tooring_20</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content_social">
                            <a href="https://www.instagram.com/tooringmx/" target="_blank">
                                <img src="../assets/images/home/footer3.png" alt="">
                            </a>
                            <div class="name text-center my-3">
                                <a href="https://www.instagram.com/tooringmx/" target="_blank">
                                    <p>@tooringmx</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content_social">
                            <a href="https://www.tiktok.com/@tooring_" target="_blank">
                                <img src="../assets/images/home/footer2.png" alt="">
                            </a>
                            <div class="name text-center my-3">
                                <a href="https://www.tiktok.com/@tooring_" target="_blank">
                                    <p>tooring_</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-6">
            <div class="content_right">
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nombre:</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Teléfono:</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Correo:</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Empresa:</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    
                    <div class="content_btn text-center">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>