<div class="diagonal-box">
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div class="content_left py-4">
						<div class="text_red">
							<p class="text-uppercase text-left">
							  <span>Diagnosticamos</span><br> 
							  tu <span>proyecto</span> <br>
							  para encontrar <br>
							  <span>soluciones</span>
							</p>
						</div>
						<div class="content-btn">
							<a class="btn btn-primary text-uppercase" href="#" role="button">¡Vamos a hablar!</a>
						</div>
					</div>
				</div>
				<div class="col-6 pt-5">
					<div class="content_img py-3 d-flex justify-content-center">
						<img src="../../../assets/images/somos-home.PNG" alt="diagnostico">
					</div>
					<div class="text_white pt-1">
						<p class="text-uppercase text-center">
							Te orientamos a tomar <br>
							la mejor desición 
						</p>
					</div>
				</div>
				<div class="col-12">
					<div class="arrowDown text-center">
						<a href="" class="ancla" data-ancla="solutions">
						  <fa-icon [icon]="ChevronDown"></fa-icon>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
