<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="content_left">
                <div class="contenido">
                    <!-- <p>Cuadrado</p> -->
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="content_rigth">
                <div class="row">
                    <div class="col">
                        <div class="content_imgs">
                            <img class="img_1" src="../assets/images/home/mano.png" alt="robot">
                            <img class="img_2" src="../assets/images/home/point_blue.png" alt="point">
                        </div>
                        <div class="title_purple">
                            <h6 class="text-uppercase text-right tex-blue">
                                Nuestro objetivo <br> 
                                es desarrollar productos que mejoren significativamente la existencia de tu negocio
                            </h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="content-btn pt-4 text-right">
                            <a class="btn btn-primary text-uppercase" href="#" role="button">www.tooring.com.mx</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center pt-4">
            <div class="arrowDown">
                <a href="" class="ancla" data-ancla="blog">
                  <img src="../assets/images/home/arrow_purple.png" width="4%" alt="flecha">
                </a>
            </div>
        </div>
    </div>
</div>
