<div class="container pt-5">
	<div class="row">
		<div class="col-6">
			<div class="content_left py-5">
				<div class="text_red">
					<p class="text-uppercase text-left">
						<span>Diagnosticamos</span><br> 
						tu <span>proyecto</span> <br>
						para encontrar <br>
						<span>soluciones</span>
					</p>
				</div>
				<div class="content-btn">
					<a class="btn btn-primary text-uppercase ancla" data-ancla="footer" href="" role="button">
						¡Vamos a hablar!
					</a>
				</div>
			</div>
		</div>
		<div class="col-6 pt-5">
			<div class="content_img py-4 d-flex justify-content-center">
				<img src="../../../assets/images/home/points.png" alt="diagnostico">
			</div>
			<div class="text_white pt-4">
				<p class="text-uppercase text-center">
					Te orientamos a tomar <br>
					la mejor desición 
				</p>
			</div>
		</div>
		<div class="col-12 text-center">
			<div class="arrowDown">
                <a href="" class="ancla" data-ancla="solutions">
                  <img src="../assets/images/home/arrow_white.png" width="4%" alt="flecha">
                </a>
            </div>
		</div>
	</div>
</div>