<div class="container pt-5">
    <div class="row">
        <div class="col-8">
            <div class="content_img">
                <img src="../assets/images/home/idea1.png" alt="">
            </div>
        </div>
        <div class="col-4">
            <div class="content_info text-center">
                <div class="content-btn pb-5">
                    <a class="btn btn-primary text-uppercase" href="#" role="button">Trabajemos <br> juntos</a>
                </div>
                <h4>¡Queremos <br> saber tu idea!</h4>
            </div>
        </div>
        <div class="col-12 text-center pt-3">
            <div class="arrowDown">
                <a href="" class="ancla" data-ancla="blog">
                  <img src="../assets/images/home/arrow_white.png" width="4%" alt="flecha">
                </a>
            </div>
        </div>
    </div>
</div>