.content_hero_home
    height: 110vh
    width: 100%

    background-image: url('../assets/images/bg_hero-home.png')
    background-position: top
    background-repeat: no-repeat
    background-size: 104% 100%

.content-somos_home
    height: 90vh
    width: 100%

.content-diagnostico_home

.content-solutions_home
    height: 100vh
    width: 100%
    // background-color: red
    