<div class="container-fluid px-0">
  
  <NavBar_Home></NavBar_Home>

  <div class="content_hero_home">
    <hero-home></hero-home>
  </div>

  <div id="somos" class="content-somos_home">
    <somos-home></somos-home>
  </div>

  <div id="diagnostic" class="content-diagnostico_home">
    <diagnostic-home></diagnostic-home>
  </div>

  <div id="solutions" class="content-solutions_home">
    <solutions></solutions>
  </div>

  <div id="design" class="content-design_home">
    <design-home></design-home>
  </div>

  <div id="tooring" class="content-bannerTooring_home">
    <banner-torring></banner-torring>
  </div>

  <div id="blog" class="content-blog_home">
    <blog-home></blog-home>
  </div>

  <div id="idea" class="content-bannerIdea_home">
    <banner-idea-home></banner-idea-home>
  </div>

  <div id="footer" class="content-footer">
    <footer></footer>
  </div>
</div>