.content_hero_home
    height: 100vh
    width: 100%
    color: #BF3636

    .container_bg 
        background-image: url('../assets/images/bg_hero-home.png')
        background-position: center
        background-repeat: no-repeat
        background-size: contain