<div class="container py-5">
    <div class="row">
        <div class="col-12 py-5">
            <div class="text_red">
                <h1 class="text-uppercase text-center">
                    Expertos en crear soluciones <br> innovadores para distintas industrias
                </h1>
            </div>
        </div>
        <div class="col">
            <div class="text_red text-uppercase text-center pb-2">
                <h4>Blockchain</h4>
            </div>
            <div class="text_blue text-uppercase px-2">
                <p class="text-center">Reinventa la manera de vivir y trabajar</p>
            </div>
        </div>
        <div class="col">
            <div class="text_red text-uppercase text-center pb-2">
                <h4>Bigdata</h4>
            </div>
            <div class="text_blue text-uppercase">
                <p class="text-center">Toma el control <br> de tu negocio</p>
            </div>
        </div>
        <div class="col">
            <div class="text_red text-uppercase text-center pb-2">
                <h4>Machine Learning</h4>
            </div>
            <div class="text_blue text-uppercase">
                <p class="text-center">Transforma tus datos en oportunidades</p>
            </div>
        </div>
        <div class="col">
            <div class="text_red text-uppercase text-center pb-2">
                <h4>Inteligencia Artificial</h4>
            </div>
            <div class="text_blue text-uppercase">
                <p class="text-center">Implusa el crecimiento <br> y la eficiencia</p>
            </div>
        </div>
    </div>
</div>
