.text_red
    h1, h4
        @font-face: "Lulo-Clean-Bold"
        font-weight: bold
        letter-spacing: 4px
        color: #FF5964
.text_blue
    p
        font-size: 1.1rem
        @font-face: "Lulo-Clean"
        font-weight: 600
        letter-spacing: 1px
        color: #052360
