<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="content_title">
                <p>
                    Desarrollo
                </p>
                <p>
                    de Software
                </p>
            </div>
        </div>
        <div class="col-12 pt-4 pb-3">
            <div class="content_text text-right">
                <p>
                    Trabajamos de la mano de principio <br> 
                    a fin, para poder desarrollar un sistema <br>
                    que te permita alcanzar los objetivos de <br>
                    tu empresa, utilizando las últimos <br>
                    tecnologías en tendencias para que <br>
                    logres ver a tu empresa tan grande <br>
                    como siempre la soñaste.
                </p>
            </div>
        </div>
        <div class="col-12 text-center">
            <div class="arrowDown">
                <a href="" class="ancla" data-ancla="listService">
                    <img src="../assets/images/home/arrow_purple.png" width="4%" alt="flecha">
                </a>
            </div>
        </div>
    </div>
</div>