<div class="content_flex">
  <div class="container"> 
    <div class="title">
      <h1>B</h1>
      <h1>l</h1>
      <h1>o</h1>
      <h1>o</h1>
      <h1>g</h1>
    </div>
      <!-- <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slidesStore">
          <ng-template carouselSlide [id]="slide.id">
            <div class="content_img">
              <img [src]="slide.img" [alt]="slide.name" [title]="slide.name">
            </div>
            <div class="content_info">
              <h3>
                {{slide.name}}
              </h3>
              <div class="content_text">
                <p class="text-center">
                  {{slide.desc}}
                </p>
                <div class="content_btn text-center">
                  <a href="#">Ver más</a>
                </div>
              </div>
            </div>
          </ng-template>
          <div _ngcontent-vxk-c110="" class="owl-nav content_nav">
            <div _ngcontent-vxk-c110="" class="owl-prev"></div>
            <div _ngcontent-vxk-c110="" class="owl-next"></div>
          </div>
        </ng-container>
      </owl-carousel-o> -->
      <div class="col-4 text-center pt-3 content_arrow">
        <div class="arrowDown">
            <a href="" class="ancla" data-ancla="idea">
              <img src="../assets/images/home/arrow_purple.png" width="13%" alt="flecha">
            </a>
        </div>
    </div>
  </div>
</div>