<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="content_title text-left">
                <h3>vamos contigo de la mano de principio a fin</h3>
                <h2>Proceso</h2>
                <div class="content_hr">
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="content_text text-center">
                <p>2. Planteamiento <br> del proyecto</p>
                <p>4. Solicitud <br> de propuesta</p>
                <p>6. Presetación <br> de SOW y entrega</p>
            </div>
        </div>
        <div class="col-12">
            <div class="content_wave">
                <img src="../assets/images/servicios/serviceWeb/Linea_tiempo.png" alt="timeline">
                <div class="lll"></div>
            </div>
        </div>
        <div class="col-12">
            <div class="content_text2 text-center">
                <div class="col-3">
                    <p>1. Levantamiento <br> de la información</p>
                </div>
                <div class="col-3">
                    <p>3. Recolleción de información <br> y docuemntos </p>
                </div>
                <div class="col-3">
                    <p>5. Validación <br> y aprobación</p>
                </div>
                <div class="col-3">
                    <p>7. Mockups</p>
                </div>
            </div>
        </div>
    </div>
</div>
