<div class="container py-1">
    <div class="row">
        <div class="col-12 pb-5 pt-2">  
            <div class="text_red">
                <h2 class="text-uppercase text-center">
                    Expertos en crear soluciones <br> innovadores para distintas industrias
                </h2>
            </div>
        </div>
        <div class="col-3">
            <div class="content_img">
                <img src="../assets/images/home/solutions1.png" alt="solutions">
            </div>
            <div class="text_red text-uppercase text-center pb-2 cont_txt">
                <h5>Blockchain</h5>
            </div>
            <div class="text_blue text-uppercase px-2">
                <p class="text-center">Reinventa la manera de vivir y trabajar</p>
            </div>
        </div>
        <div class="col-3">
            <div class="content_img">
                <img src="../assets/images/home/solutions2.png" alt="solutions">
            </div>
            <div class="text_red text-uppercase text-center pb-2 cont_txt">
                <h5>Bigdata</h5>
            </div>
            <div class="text_blue text-uppercase">
                <p class="text-center">Toma el control <br> de tu negocio</p>
            </div>
        </div>
        <div class="col-3">
            <div class="content_img">
                <img src="../assets/images/home/solutions3.png" alt="solutions">
            </div>
            <div class="text_red text-uppercase text-center pb-2 cont_txt">
                <h5>Machine Learning</h5>
            </div>
            <div class="text_blue text-uppercase">
                <p class="text-center">Transforma tus datos en oportunidades</p>
            </div>
        </div>
        <div class="col-3">
            <div class="content_img">
                <img src="../assets/images/home/solutions4.png" alt="solutions">
            </div>
            <div class="text_red text-uppercase text-center pb-2 cont_txt">
                <h5>Inteligencia Artificial</h5>
            </div>
            <div class="text_blue text-uppercase">
                <p class="text-center">Implusa el crecimiento <br> y la eficiencia</p>
            </div>
        </div>
        <div class="col-12 text-center pt-4">
			<div class="arrowDown">
                <a href="" class="ancla" data-ancla="design">
                  <img src="../assets/images/home/arrow_purple.png" width="4%" alt="flecha">
                </a>
            </div>
		</div>
    </div>
</div>
