<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="content_title">
                <p>
                    Desarrollo
                </p>
                <p>
                    Web
                </p>
            </div>
        </div>
        <div class="col-12">
            <div class="content_text text-right">
                <p>
                    Creamos plataformas web que <br> 
                    pueden ser visualizadas en todo <br>
                    tipo de dispositivos usando <br>
                    siempre la escalabilidad y de <br>
                    mando, haciendo responsivos y <br>
                    óptimos todos nuestros proyectos.
                </p>
            </div>
        </div>
        <div class="col-12 text-center">
            <div class="arrowDown">
                <a href="" class="ancla" data-ancla="listService">
                    <img src="../assets/images/home/arrow_purple.png" width="4%" alt="flecha">
                </a>
            </div>
        </div>
    </div>
</div>