<div class="container container-sm">
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <div class="col-12 my-5 pt-5">
          <div class="text_red">
            <h4 class="text-uppercase text-left">
              Impulsamos <span>la innovación</span>, <br> 
              toma de <span>decisiones</span>, <br> 
              <span>confidencialidad</span> de la <br>
              <span>información</span> y la <span>tecnología</span>
            </h4>
          </div>
        </div>
        <div class="col-12 cont_btnText text-center pt-5 d-flex align-items-end flex-column">
          <div class="content_interes">
            <div class="content-btn">
              <a class="btn btn-primary text-uppercase" href="#" role="button">Me interesa</a>
            </div>
            <div class="content_dowm pt-1">
              <div class="content_text pt-5">
                <p class="text-uppercase">
                  Impulsamos tu negocio
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-end">
        <div class="content_imgs">
          <div class="rock1">
            <img src="../../../assets/images/home/rock2.png" alt="roca2">
          </div>
          <div class="rock3">
            <img src="../../../assets/images/home/rock3.png" alt="roca3">
          </div>
          <div class="rock4">
            <img src="../../../assets/images/home/rock4.png" alt="roca4">
          </div>
          <div class="rock2">
            <img src="../../../assets/images/home/rock1.png" alt="roca1">
          </div>
          <div class="content_gif">
            <img src="http://itooring.com/images/Seccion1/robot.gif" width="110%" class="Robot">
          </div>
        </div>
      </div>
      <div class="col-12 text-center pt-4">
        <div class="arrowDown">
          <a href="" class="ancla" data-ancla="somos">
            <img src="../../../assets/images/home/arrow_white.png" width="4%" alt="flecha">
          </a>
        </div>
      </div>
    </div>
</div>
