<div class="container">
    <div class="row">
      <div class="col-8">
        <div class="col-12 my-5 pt-5">
          <div class="text_red">
            <p class="text-uppercase text-left">
              Impulsamos <span>la innovación</span>, <br> 
              toma de <span>decisiones</span>, <br> 
              <span>confidencialidad</span> de la <br>
              <span>información</span> y la <span>tecnología</span>
            </p>
          </div>
        </div>
        <div class="col-12 cont_btnText text-center pt-5 d-flex align-items-end flex-column">
          <div class="content_interes">
            <div class="content-btn">
              <a class="btn btn-primary text-uppercase" href="#" role="button">Me interesa</a>
            </div>
            <div class="content_dowm pt-1">
              <div class="content_text pt-5">
                <p class="text-uppercase">
                  Impulsamos tu negocio
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex align-items-end">
        <div class="content_gif">
          <img src="http://itooring.com/images/Seccion1/robot.gif" width="110%" class="Robot">
        </div>
      </div>
      <div class="col-12 text-center">
        <div class="arrowDown">
          <a href="" class="ancla" data-ancla="somos">
            <fa-icon [icon]="ChevronDown"></fa-icon>
          </a>
        </div>
      </div>
    </div>
</div>
