.text_red
    padding-top: 4rem
    p
        font-size: 1.8rem
        font-weight: 300
        line-height: 1.8
        letter-spacing: 4px
        color: #FF5964
        span 
            font-weight: bold
            color: #FF5964
a 
    color: #052360
    font-size: 1.3rem
    font-weight: bold
    letter-spacing: 3px
    padding: .5rem 1.6rem
    
    border: none
    border-radius: 2rem

    background: rgb(235,236,244)
    background: linear-gradient(180deg, rgba(235,236,244,1) 0%, rgba(161,176,210,1) 100%)
    box-shadow: 1px 1px 10px black

.content_text
    color: white
    font-size: 1.3rem
    letter-spacing: 6px
    font-weight: 200

fa-icon
    color: white
    font-size: 2rem

.content_gif
    padding-bottom: 4rem