<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <div class="content_chat">
            <div class="row">
                <div class="col-6">
                    <div class="content_text">
                        <div class="content_title text-uppercase">
                            <h3>ChatBots</h3>
                        </div>
                        <p>
                            Aumenta la satisfacción <br>
                            en tu sitio web y canales <br>
                            de comunicación difital.
                        </p>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <img src="../assets/images/servicios/serviceWeb/listService1.png" alt="">
                </div>
            </div>
        </div>      
    </div>
    <div class="col-12 d-flex justify-content-between">
        <div class="content_analytic">
            <div class="row">
                <div class="col-7 d-flex justify-content-center">
                    <img src="../assets/images/servicios/serviceWeb/listService2.png" alt="">
                </div>
                <div class="col-5">
                    <div class="content_text">
                        <div class="content_title text-uppercase">
                            <h3>Analytics</h3>
                        </div>
                        <p>
                            Reconoce las mejoras que <br>
                            ayudan a aumentar el <br>
                            posicionamiento de tu <br>
                            sitio web.
                        </p>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    <div class="col-12 d-flex justify-content-start">
        <div class="content_siteWeb">
            <div class="row">
                <div class="col-6">
                    <div class="content_text">
                        <div class="content_title text-uppercase">
                            <h3>Página Web</h3>
                        </div>
                        <p>
                            Tener una página web <br>
                            le abre puertas al <br>
                            mundo digital.
                        </p>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <img src="../assets/images/servicios/serviceWeb/listService3.png" alt="">
                </div>
            </div>
        </div>      
    </div>
    <div class="col-12 d-flex justify-content-between">
        <div class="content_memory">
            <div class="row">
                <div class="col-6 d-flex justify-content-center">
                    <img src="../assets/images/servicios/serviceWeb/listService4.png" alt="">
                </div>
                <div class="col-6">
                    <div class="content_text">
                        <div class="content_title text-uppercase">
                            <h3>Almacenamiento</h3>
                        </div>
                        <p>
                            Manten un mejor control <br>
                            de tu inventario
                        </p>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    <div class="col-12 d-flex justify-content-start">
        <div class="content_segurity">
            <div class="row">
                <div class="col-6">
                    <div class="content_text">
                        <div class="content_title text-uppercase">
                            <h3>Seguridad</h3>
                        </div>
                        <p>
                            Permite la creación de barreras <br>
                            utilizando herraminetas <br>
                            de protección.
                        </p>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <img src="../assets/images/servicios/serviceWeb/listService5.png" alt="">
                </div>
            </div>
        </div>      
    </div>
    <div class="col-12 d-flex justify-content-end">
        <div class="content_migracion">
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <img src="../assets/images/servicios/serviceWeb/listService6.png" alt="">
                </div>
                <div class="col-8">
                    <div class="content_text">
                        <div class="content_title text-uppercase">
                            <h3>Migración y <br> transferencia</h3>
                        </div>
                        <p>
                            Brinda una mejor seguridad.
                        </p>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    <div class="col-12 d-flex justify-content-between">
        <div class="content_computo">
            <div class="row">
                <div class="col-6">
                    <div class="content_text">
                        <div class="content_title text-uppercase">
                            <h3>Computación</h3>
                        </div>
                        <p>
                            Reconoce los mejores que <br>
                            ayudan a aumentar el <br>
                            posicionamiento de tu <br>
                            sitio web.
                        </p>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <img src="../assets/images/servicios/serviceWeb/listService7.png" alt="">
                </div>
            </div>
        </div>      
    </div>
</div>